.sdc-wrapper {
  // Reset style by admin wikijs
  :deep(.v-main .contents) {
    padding: 0 4rem 2rem 10.4rem;
    margin: 0;
  }
}
.sdc-main {
  margin-bottom: 10rem;
}

@include media-breakpoint-down(xs) {
  .sdc-lnb {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
  .sdc-wrapper {
    :deep(.v-main .contents) {
      padding: 2rem 1.6rem 2.4rem;
      margin: 0;
    }
  }
}

@include media-breakpoint-between(sm, md) {
  .sdc-wrapper {
    :deep(.v-main .contents) {
      padding: 2rem 1.6rem 2.4rem;
      margin: 0;
    }
  }
  .sdc-lnb,
  .sdc-main {
    max-width: 100%;
    // padding-left: 3.2rem;
    // padding-right: 3.2rem;
  }
}

@include media-breakpoint-up(md) {
  .sdc-wrapper {
    display: flex;
    flex-direction: row;
    :deep(.v-main .contents) {
      padding: 2rem 1.6rem 2.4rem;
      margin: 0;
    }
  }

  .sdc-lnb {
    width: 27.2rem;
  }

  .sdc-lnb.collapsed {
    width: 9.3rem;
  }

  .sdc-main {
    overflow: hidden;
    flex-basis: 0;
    flex-grow: 1;
  }
}

@include media-breakpoint-down(lg) {
  .sdc-wrapper {
    max-width: 100%;
  }
}

@include media-breakpoint-up(lg) {
  .sdc-wrapper {
    // Reset style by admin wikijs
    :deep(.v-main .contents) {
      padding: 0 4rem 2rem 10.4rem;
      margin: 0;
    }
  }
}
