.typography {
  p {
    font-size: var(--text-base);
    color: var(--color-gray-700);
  }
  h1 {
    font-size: var(--text-2xl--line-height);
    font-weight: var(--font-weight-semibold);
    color: var(--color-gray-950);
  }
  h2 {
    font-size: var(--text-xl);
    font-weight: var(--font-weight-semibold);
    color: var(--color-gray-950);
  }
}

.pagination {
  @apply flex flex-wrap items-center;

  & > .page-item {
    @apply relative size-8 rounded-2xl px-[0.71875rem];
    @apply hover:bg-abg-active;

    &.active {
      @apply text-invert bg-primary;
    }

    & > .page-link {
      @apply absolute top-1/2 left-1/2 -translate-1/2;
    }
  }
}
