ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.toc-nav-heading-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.6rem;
}

.toc-nav-heading{
  flex-grow: 1;
  color: $vulcanus-text-clr-raised;

  /* Button/Button2-M */
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: -0.03rem;
  padding: 0.4rem 0;
}

.btn-toggle-toc{
  align-self: flex-start;
  flex-shrink: 0;
  width: 3.2rem;
  height: 3.2rem;
  padding: 0.8rem;
  border-radius: $vulcanus-bd-radius-full;
  background-color: hsla(225, 29%, 95%, 1);

  &:hover{
    background: var(--#{$prefix}sem-color-interaction-hover);
  }

  &:active{
    background: var(--#{$prefix}sem-color-interaction-pressed);
  }
}

.ic-toggle-toc{
  width: 1.6rem;
  height: 1.6rem;
  font-size: 1.6rem;

  &:before{
    color: $vulcanus-text-clr-base;
  }
}

.ic-toggle-toc.open{
  &:before{
    transform: rotate(90deg);
  }
}

@include media-breakpoint-down(md) {
  .offcanvas-lnb{
    width: 27.3rem;
    .offcanvas-body{
      padding-top: 1.6rem;
      padding-right: 1.6rem;
      padding-left: 2.4rem;
    }
    .offcanvas-body-rtl {
      padding-left: 1.6rem !important;
      padding-right: 2.4rem !important;
    }
  }
}

@include media-breakpoint-up(md) {
  .toc-nav-list-wrapper.collapse{
    display: none;
  }
}

.offcanvas-toc-mobile .btn-close-wrap {
  margin-bottom: 1.6rem;
}
