.error-api-info-wrapper{
  padding: 4rem 1.6rem 8rem;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.error-thumbnail{
  max-width: 100%;
  width: 16rem;
  height: auto;
  object-fit: cover;
  -o-object-fit: cover;
  margin-bottom: 1.6rem;
}

:deep(.error-title){
  color: $vulcanus-text-clr-base;

  /* Title/Title5-M */
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.4rem;
  letter-spacing: -0.03rem;
  margin-bottom: 0.4rem;
}

:deep(.error-msg){
  color: $vulcanus-text-clr-dimmed;

  /* Text/Text3-R */
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
  letter-spacing: -0.03rem;
  margin-bottom: 4rem;
}

.btn-error-back{
  max-width: 25rem;
  padding: 1.2rem 2rem;
  height: 4.4rem;

  color: var(--on-surface-white-x-primary, #FFF);
  /* Button/Button2-M */
  font-size: var(--#{$prefix}sem-typography-button2);
  font-weight: var(--glob-typography-fw-medium);
  line-height: 2rem; /* 142.857% */
  letter-spacing: -0.042rem;
}

.btn-vulcanus {
  border-radius: 1.2rem;
  text-decoration: none;
  &--primary {
    background-color: $vulcanus-clr-primary;
    outline: 1px solid $vulcanus-clr-bg-active;
  }
  &--plain {
    background-color: $vulcanus-clr-bg-dimmed;
    outline: none;
    border: none;
    color: $vulcanus-text-clr-base;
    &:active {
      background-color: $vulcanus-clr-bg-dimmed;
      color: $vulcanus-text-clr-base;
    }
  }
}

.error-msg-back {
  color: $vulcanus-text-clr-muted;
  margin-top: 2.4rem;
  font-size: 1.3rem;
  line-height: 2.2rem;
  letter-spacing: -0.025rem;
  font-weight: 400;
}

.group-btn-navigator {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

@include media-breakpoint-up(md){
  .error-api-info-wrapper{
    padding: 8rem 0 8rem;
  }

  :deep(.error-title){
    /* Title/Title4-M */
    font-size: var(--#{$prefix}sem-typography-title4);
    line-height: 3.4rem; /* 141.667% */
    letter-spacing: -0.072rem;
  }

  :deep(.error-msg){
    /* Text/Text1-R */
    font-size: var(--#{$prefix}sem-typography-text1);
    font-weight: var(--glob-typography-fw-regular);
    line-height: 2.6rem; /* 162.5% */
    letter-spacing: -0.048rem;
  }

  .error-thumbnail{
    width: 24rem;
  }
}
