// Reboot
//
// Normalization of HTML elements, manually forked from Normalize.css to remove
// styles targeting irrelevant browsers while applying new styles.
//
// Normalize is licensed MIT. https://github.com/necolas/normalize.css

// Document
//
// Change from `box-sizing: content-box` so that `width` is not affected by `padding` or `border`.

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

// Language specific font families
html[lang='en'] {
  --#{$prefix}body-font-family: #{$font-family-en};
}

body {
  font-family: var(--#{$prefix}body-font-family);
  font-size: var(--#{$prefix}body-font-size);
  font-weight: var(--#{$prefix}body-font-weight);
  line-height: var(--#{$prefix}body-line-height);
  color: var(--#{$prefix}body-text-color);

  background-attachment: fixed;
  background-color: hsla(214, 100%, 99%, 1);
  background-image: linear-gradient(180deg, rgba(134, 186, 255, 0.2) 0%, rgba(255, 255, 255, 0) 45.9%);
}

// Blockquote

blockquote {
  margin: 0 0 1rem;
}

// Figures
//
// Apply a consistent margin strategy (matches our type styles).
figure {
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

body.error-layout {
  #__nuxt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

    .layout-footer {
      margin-top: 0 !important;
    }
  }
}

.has-error-api-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - $header-height);
}

.has-error-api-wrapper + .layout-footer {
  margin-top: 0 !important;
}

// Matches default `<td>` alignment by inheriting `text-align`.
// Fix alignment for Safari
th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}
